.sous{
	display: flex;
}
.city_list{
	width:24.10vw;
	height:12.60vw;
	border: 1px solid #e5e5e7;
	border-top:none;
	border-left:none;
	background: url(../bg2.png) no-repeat 60px center;
	color:#333333;
}
.city_list span{
	display: inline-block;
	width:24.10vw;
	height:12.60vw;
	text-align: center;
	line-height: 12.60vw;
	font-size:4.10vw;
	padding-right:5.47vw;
}

/*城市*/
.city_list .city{
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	background: white;
}

.city_list .city .load #dt{
	width: 100%;
	height:6.84vw;
	line-height: 6.84vw;
	padding-left:4.65vw;
	font-size: 2.73vw;
	color:#888888;
	font-weight: normal;
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	float: left;
}

.city_list .city .load #dd{
	width:33.2vw;
	height:16.43vw;
	float: left;
	text-align: center;
	line-height: 16.43vw;
	font-size: 4.10vw;
}

.s_s{
	border-bottom: 1px solid #e5e5e7;
	width:78.63vw;
	height:12.60vw;
	display: flex;
}
.s_s .sousuo{
	width:63vw;
	height:11.5vw;
	border:none;
	padding-left:4.38vw;
	font-size:4.10vw;
	color:#757575;
	outline: none;
}
.s_s .btn{
	width:13vw;
	height:12.60vw;
	background: url(../search.png) no-repeat center center;
	outline: none;
}
.list{
	padding:0;
	margin:0;
}
.none>p{
	height:9.58vw;
	background: #e7f7f3;
	font-size: 3.56vw;
	color:#5d897e;
	text-align: center;
	line-height: 9.58vw;
	margin-top:4.38vw;
}
#record .cord{
	height:13.15vw;
	line-height: 13.15vw;
	font-size: 1.4rem;
	padding:0 6.30vw;
	color:#666666;
	border-bottom: 1px solid #e5e5e7;
	margin:0;
	display: flex;
	justify-content: space-between;
	background: url(../x.png) no-repeat 90vw center;
	background-color: #fafafa;
}
#record .cord>span{
	display: inline-block;
	width:84.93vw;
	height:13.15vw;
}
#record .cord>i{
	display: inline-block;
	width:9.58vw;
	height:13.15vw;
}
